/*class is used for working with a section at a time */
body {
    background-color: black;
    font-size:18px;
    color: yellowgreen;
}

h1 {
    color: brown;
    font-family: Arial;
}

p{
    font-size: 18px;
    color: bisque;
}
div{
    color: burlywood;
    background: gray;
    width: 500px;
    height: 100px;
}
span{
    font-style: italic;
    font-size: 20px;
    color: whitesmoke;
}
.top-section{
    background-color: goldenrod;
}
.bottom-section{
    background-color: tomato;
}
.box{
    background: lightgoldenrodyellow;
    width: 300px;
    text-align: ;

    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 10px;

    border: 3px;
    border-color: rgb(29, 53, 73);
    border-style: dashed;

    padding: 3px;
}