/*class is used for working with a section at a time */
body {
    background-color: black;
    font-size:18px;
    color: yellowgreen;
}

h1 {
    color: brown;
    font-family: Arial;
}

p{
    font-size: 18px;
    color: bisque;
}
div{
    color: burlywood;
    background: gray;
    width: 500px;
    height: 100px;
}
span{
    font-style: italic;
    font-size: 20px;
    color: whitesmoke;
}
.top-section{
    background-color: goldenrod;
}
.bottom-section{
    background-color: tomato;
}